.ui-component {
  background-color: rgba(230,235,240,0.7); 
  border: #70757a solid 1px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  cursor: grab;
  z-index: 10;
}

.ui-close-button {
  padding: 0px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.draggable-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.ui-title {
  flex-grow: 1; 
  text-align: center; 
  margin: 0; 
}
.draggable-icon {
  width: 18px !important; /* Adjust the size of the icon as needed */
}
