.Navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 40px;
  background-color: #e6ebf0;
  z-index: 99999; /* So that it is always rendered above other components*/
  box-shadow: 0 2px 6px grey; 

  box-sizing: border-box;
}

.navbar-logo {
  margin-left: auto;
  margin-right: 00px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.segments {
  display: flex;
}

.segment {
  padding: 10px 20px;
  cursor: pointer;
}

.segment:hover {
  background-color: #b4c2d1;
}

.segment.selected {
  background-color: #365d83;
  color: #fff;
}

.segment-text {
  font-size: 16px;
  font-weight: 600;
}
